* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1470px;
    margin: 0 auto;
    height: 100%;
}

.wrapper__section {
    max-width: 1470px;
    margin: 0 auto;
    height: 100%;
    padding: 120px 0;
}

body {
    font-family: 'Rubik', sans-serif !important;
}

.access__form {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    max-height: 850px;
    padding: 120px 265px 0 315px;
    background: linear-gradient(
            98.72deg,
            #010733 0%,
            rgba(1, 7, 51, 0.8) 48.11%,
            rgba(1, 7, 51, 0) 76.65%
        ),
        url('../img/abstract-bg.jpg');
    background-size: contain;
    overflow: hidden;
}

.access__form:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.3;
    top: 120px;
    right: 150px;
    background-size: cover;
    background-image: url('../img/header-ball.png');
}

.access__form:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.3;
    bottom: -30px;
    right: -30px;
    background-size: cover;
    background-image: url('../img/header-ball.png');
}

.access__form__content {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.access__form__content .content__left .reg__title {
    width: 630px;
    height: 120px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
}

.access__form__content .content__left .reg__title span {
    color: #245ff7;
}

.access__form__content .content__left .description {
    width: 630px;
    height: 62px;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 60px;
    font-weight: 400;
}

.access__form__content .content__left .price__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 250px;
    height: 75px;
}

.access__form__content .content__left .price__block .sales {
    height: 23px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
}

.access__form__content .content__left .price__block .price {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #e43700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.access__form__content .content__left .price__block .price .old__price {
    padding-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #6b789a;
    display: flex;
    align-items: center;
}

.access__form__content .content__left .price__block .price .old__price .through {
    text-decoration: line-through;
}

.access__form__content .content__left .form__reg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    height: 180px;
}

.access__form__content .content__left .form__reg input {
    padding: 19px 20px;
    margin-bottom: 10px;
    position: static;
    width: 551px;
    height: 59px;
    left: 0;
    top: 0;
    background: #ffffff;
    border-radius: 6px;
}

.access__form__content .content__left .form__reg button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    width: 551px;
    height: 59px;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #8e8e93;
}

.access__form__content .content__left .form__reg button.able {
    background-color: #245ff7;
}

.access__form__content .content__left .form__reg button.able:hover {
    background-color: #487bff;
}

.access__form__content .content__left .form__reg button.able:active {
    background-color: #0e49df;
}

.access__form__content .content__left .form__reg .agreement {
    width: 551px;
    height: 42px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0;
}

.access__form__content .content__left .form__reg .agreement .reg__checkbox {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 2px;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.access__form__content .content__left .form__reg .agreement .reg__label__checkbox {
    width: 525px;
    height: 42px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #ffffff;
}

.access__form__content .content__left .form__reg .agreement .reg__label__checkbox span {
    color: #245ff7;
}

.access__form__content .content__right {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1650px) {
    .access__form {
        padding: 120px 200px 0 200px;
    }

    .access__form .content__right {
        z-index: 2;
    }
}

@media (max-width: 1500px) {
    .access__form {
        padding: 120px 50px 0 50px;
    }
}

@media (max-width: 1360px) {
    .access__form {
        padding: 80px 50px 0 50px;
        background-size: cover;
    }

    .access__form__content {
        flex-direction: column;
        align-items: center;
    }

    .access__form__content .content__left .reg__title {
        font-size: 30px;
        height: auto;
        margin-bottom: 20px;
    }

    .access__form__content .content__left .description {
        width: 100%;
        font-size: 18px;
        margin-bottom: 40px;
        height: auto;
    }

    .access__form__content .content__left .price__block {
        margin-bottom: 20px;
    }

    .access__form__content .content__left .reg__container__label__email {
        width: 100%;
    }

    .access__form__content .content__left .reg__container__label__email .reg__input-email {
        width: 100%;
    }

    .access__form__content .content__left button {
        width: 100% !important;
    }

    .access__form__content .content__left .agreement {
        width: 100% !important;
    }

    .access__form__content .content__right {
        margin-top: 40px;
        justify-content: center;
    }

    .access__form__content .content__right img {
        width: 50%;
    }
}

@media (max-width: 650px) {
    .access__form {
        padding: 80px 20px 0 20px;
    }

    .access__form:before {
        left: 20px;
        top: 600px;
        width: 80px;
        height: 80px;
        z-index: 1;
        filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        -moz-filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    .access__form:after {
        right: 0px;
        bottom: 50px;
        width: 80px;
        height: 80px;
        z-index: 1;
        filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        -moz-filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    .access__form .content__left {
        width: 100% !important;
    }

    .access__form .content__right img {
        width: 60%;
        margin-top: 20px;
    }
}
.footer {
    flex: 0 0 auto;
    background-color: #333333;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 315px;
    font-weight: normal;
}

.footer .wrapper__footer {
    padding: 60px 0;
}

.footer .wrapper__footer ol li {
    margin-bottom: 10px;
}

.footer .wrapper__footer a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px;
    line-height: 130%;
    font-weight: normal;
}

.footer__content .middle p {
    margin-bottom: 10px;
}

.footer__content .middle div {
    margin-bottom: 20px;
}

.footer__content .middle div img {
    margin-right: 10px;
}

@media (max-width: 1500px) {
    .footer {
        padding: 0 200px;
    }
}

@media (max-width: 1100px) {
    .footer {
        padding: 0 100px;
    }
}

@media (max-width: 900px) {
    .footer {
        padding: 0 50px;
    }
}

@media (max-width: 800px) {
    .footer {
        padding: 0 20px;
    }

    .footer .footer__content {
        flex-direction: column !important;
    }

    .footer .footer__content .left {
        margin-bottom: 30px;
    }

    .footer .footer__content .middle {
        margin-bottom: 30px;
    }
}
.header {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    max-height: 850px;
    padding: 60px 315px 0 315px;
    background: linear-gradient(
            98.72deg,
            #010733 0%,
            rgba(1, 7, 51, 0.8) 48.11%,
            rgba(1, 7, 51, 0) 76.65%
        ),
        url('../img/header-bg.jpg');
    overflow: hidden;
}

.header:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.7;
    top: 120px;
    left: -70px;
    background-size: cover;
    background-image: url('../img/header-ball.png');
}

.header__content {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__content .content__left .logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 180px;
}

.header__content .content__left .logo img {
    margin-right: 7px;
}

.header__content .content__left .logo__text span {
    color: #245ff7;
}

.header__content .content__left .description h1 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 40px;
}

.header__content .content__left .description p {
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 60px;
    font-weight: 300;
}

.header__content .content__left .description a {
    background-color: #245ff7;
    border-radius: 6px;
    width: 260px;
    padding: 20px 55px;
    height: 59px;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.header__content .content__left .description a:hover {
    background-color: #487bff;
}

.header__content .content__left .description a:active {
    background-color: #0e49df;
}

.header__content .content__right {
    display: flex;
    align-items: flex-end;
}

@media (max-width: 1550px) {
    .header {
        padding: 60px 100px 0 100px;
    }
}

@media (max-width: 1150px) {
    .header {
        padding: 20px 30px 0 30px;
    }

    .header:before {
        z-index: 1;
    }

    .header h1 {
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 960px) {
    .header .header__content {
        flex-direction: column;
    }

    .header .header__content .content__left .logo {
        margin-bottom: 100px;
    }

    .header .header__content .content__left h1 {
        font-size: 36px;
    }

    .header .header__content .content__left p {
        font-size: 20px;
    }

    .header .header__content .content__right {
        justify-content: center;
        align-items: flex-end;
    }

    .header .header__content .content__right img {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .header:before {
        top: 330px;
        width: 70px;
        height: 70px;
        left: 0px;
        filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        -moz-filter: blur(5px);
        -webkit-filter: blur(5px);
    }

    .header .header__content {
        flex-direction: column;
    }

    .header .header__content .content__left .logo {
        margin-bottom: 70px;
    }

    .header .header__content .content__left h1 {
        font-size: 30px;
    }

    .header .header__content .content__left p {
        font-size: 18px;
    }

    .header .header__content .content__left a {
        position: relative;
        z-index: 2;
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .header .header__content .content__right {
        justify-content: center;
        align-items: flex-end;
    }

    .header .header__content .content__right img {
        width: 100%;
    }
}
.learn__program {
    width: 100%;
    padding: 0 315px;
    max-width: 1920px;
    margin: 0 auto;
}

.learn__program .learn__program__header h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 80px;
}

.learn__program .learn__program__header h2 span {
    color: #245ff7;
}

.learn__program .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 100px);
    grid-gap: 30px;
    box-sizing: border-box;
    align-items: center;
}

.learn__program .content .item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #ffffff;
    background: #245ff7;
    border-radius: 4px;
}

.learn__program .content .item span.number {
    font-size: 40px;
    line-height: 130%;
    padding: 24px 30px;
    align-self: center;
}

@media (max-width: 1550px) {
    .learn__program {
        padding: 0 200px;
    }
}

@media (max-width: 1550px) {
    .learn__program {
        padding: 0 100px;
    }
}

@media (max-width: 1200px) {
    .learn__program {
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
    .learn__program {
        padding: 70px 20px;
    }

    .learn__program .wrapper__section {
        padding: 0;
    }

    .learn__program h2 {
        font-size: 36px !important;
        margin-bottom: 40px;
    }

    .learn__program .content {
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        box-sizing: border-box;
        align-items: center;
    }

    .learn__program .content .item_1 {
        order: 1;
    }

    .learn__program .content .item_2 {
        order: 2;
    }

    .learn__program .content .item_3 {
        order: 3;
    }

    .learn__program .content .item_4 {
        order: 4;
    }

    .learn__program .content .item_5 {
        order: 5;
    }

    .learn__program .content .item_6 {
        order: 6;
    }

    .learn__program .content .item_7 {
        order: 7;
    }

    .learn__program .content .item_7 {
        order: 7;
    }

    .learn__program .content .item_8 {
        order: 8;
    }

    .learn__program .content .item_9 {
        order: 9;
    }

    .learn__program .content .item_10 {
        order: 10;
    }
}
.questions {
    width: 100%;
    padding: 0 315px;
    max-width: 1920px;
    margin: 0 auto;
}

.questions__content {
    color: #333333;
    display: flex;
}

.questions__content .left {
    width: 630px;
    margin-right: 30px;
}

.questions__content .left h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
}

.questions__content .left span {
    color: #245ff7;
}

.questions__content .right .acor-container {
    margin: 0 0 20px 0;
}

.questions__content .right .acor-container .row__container {
    width: 630px;
}

.questions__content .right .acor-container .row__container label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    transition: color 0.35s;
    height: 62px;
}

.questions__content .right .acor-container .row__container label span {
    top: calc(50% - 11px);
    font-size: 18px;
    line-height: 120%;
}

.questions__content .right .acor-container .row__container label:after {
    content: '+';
    float: right;
    color: #245ff7;
    font-size: 35px;
    font-weight: lighter;
}

.questions__content .right .acor-container .row__container input {
    display: none;
}

.questions__content .right .acor-container .row__container input:checked + label:after {
    transition: transform 0.15s;
    transform: rotate(45deg);
}

.questions__content .right .acor-container .row__container input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #333333;
}

.questions__content .right .acor-container .row__container .acor-body {
    width: calc(100% - 40px);
    height: 0;
    color: rgba(0, 0, 0, 0);
    line-height: 18px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 16px;
}

.questions__content .right .acor-container .row__container .acor-body p {
    margin: 0 0 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}

@media (max-width: 1800px) {
    .questions {
        padding: 0 200px;
    }

    .questions .questions__content {
        justify-content: space-between;
    }
}

@media (max-width: 1400px) {
    .questions .questions__content .row__container {
        width: 100% !important;
    }
}

@media (max-width: 1100px) {
    .questions {
        padding: 0 100px;
    }
}

@media (max-width: 900px) {
    .questions {
        padding: 0 20px;
    }

    .questions .wrapper__section {
        padding: 70px 0 !important;
    }

    .questions .questions__content {
        flex-direction: column;
    }

    .questions .questions__content .left {
        width: 100%;
    }

    .questions .questions__content .left h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .questions .questions__content .right {
        width: 100%;
    }

    .questions .questions__content .right .row__container label:after {
        margin-left: 20px !important;
    }
}
.whats__learn {
    width: 100%;
    padding: 0 315px;
    max-width: 1920px;
    margin: 0 auto;
}

.whats__learn__content {
    display: flex;
}

.whats__learn__content .left {
    width: 520px;
    margin-right: 30px;
}

.whats__learn__content .left h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
}

.whats__learn__content .left span {
    color: #245ff7;
}

.whats__learn__content .right {
    width: 740px;
    font-size: 24px;
    font-weight: normal;
    line-height: 130%;
    color: #333333;
    padding-top: 10px;
}

.whats__learn__content .right h3 {
    font-size: 24px;
    line-height: 130%;
    color: #333333;
    font-weight: bold;
    margin-bottom: 15px;
}

.whats__learn__content .right p {
    font-size: 18px;
    line-height: 130%;
    font-weight: normal;
    margin-bottom: 30px;
}

@media (max-width: 1400px) {
    .whats__learn {
        padding: 0 200px;
    }
}

@media (max-width: 1100px) {
    .whats__learn {
        padding: 0 100px;
    }
}

@media (max-width: 900px) {
    .whats__learn {
        padding: 0 100px;
    }

    .whats__learn .wrapper__section {
        padding: 70px 0px;
    }

    .whats__learn__content {
        flex-direction: column;
    }

    .whats__learn__content .left {
        width: 100%;
        margin-bottom: 50px;
    }

    .whats__learn__content .left h2 {
        font-size: 36px;
    }

    .whats__learn__content .right {
        width: 100%;
    }

    .whats__learn__content .right h3 {
        font-size: 22px;
    }

    .whats__learn__content .right p {
        font-size: 18px;
    }
}

@media (max-width: 550px) {
    .whats__learn {
        padding: 0 20px;
    }

    .whats__learn__content {
        flex-direction: column;
    }

    .whats__learn__content .left {
        width: 100%;
        margin-bottom: 50px;
    }

    .whats__learn__content .left h2 {
        font-size: 30px;
    }

    .whats__learn__content .right {
        width: 100%;
    }

    .whats__learn__content .right h3 {
        font-size: 18px;
    }

    .whats__learn__content .right p {
        font-size: 16px;
    }
}
.what__will__you__know {
    background-color: #e8f1f9;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 315px;
}

.what__will__you__know:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: 0.3;
    bottom: -55px;
    left: -30px;
    background-size: cover;
    background-color: #e8f1f9;
}

.what__will__you__know:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: 0.3;
    top: 15px;
    right: -70px;
    background-size: cover;
    background-color: #e8f1f9;
}

.what__will__you__know .what__will__you__know__header {
    margin-bottom: 170px;
    text-align: center;
}

.what__will__you__know .what__will__you__know__header h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 20px;
}

.what__will__you__know .what__will__you__know__header h2 span {
    color: #245ff7;
}

.what__will__you__know .content {
    display: grid;
    grid-template-columns: repeat(3, 410px);
    grid-template-rows: 195px;
    grid-column-gap: 30px;
    grid-row-gap: 131px;
}

.what__will__you__know .content__block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 30px;
    width: 410px;
    height: 195px;
    background: linear-gradient(102.62deg, #f8fcff 0%, #f1f9ff 100%);
    box-shadow: 0px 2px 20px rgba(15, 44, 72, 0.08);
}

.what__will__you__know .content__block p {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    font-weight: normal;
}

.what__will__you__know .content__block::after {
    position: absolute;
    content: '';
    width: 180px;
    height: 180px;
    bottom: 108px;
    left: 115px;
}

.what__will__you__know .content__block:nth-child(1):after {
    background: url('../img/what-will-know-img1.png');
}

.what__will__you__know .content__block:nth-child(2):after {
    background: url('../img/what-will-know-img2.png');
}

.what__will__you__know .content__block:nth-child(3):after {
    background: url('../img/what-will-know-img3.png');
}

.what__will__you__know .content__block:nth-child(4):after {
    background: url('../img/what-will-know-img4.png');
}

.what__will__you__know .content__block:nth-child(5):after {
    background: url('../img/what-will-know-img5.png');
}

.what__will__you__know .content__block:nth-child(6):after {
    background: url('../img/what-will-know-img6.png');
}

@media (max-width: 1800px) {
    .what__will__you__know {
        padding: 0 200px;
    }
}

@media (max-width: 1500px) {
    .what__will__you__know .content {
        grid-template-columns: repeat(2, 50%);
    }

    .what__will__you__know .content .content__block {
        width: 100%;
    }

    .what__will__you__know .content .content__block:after {
        left: unset;
    }
}

@media (max-width: 1100px) {
    .what__will__you__know {
        padding: 0 100px;
    }
}

@media (max-width: 930px) {
    .what__will__you__know {
        padding: 0 20px;
    }

    .what__will__you__know .wrapper__section {
        padding: 50px 0px;
    }

    .what__will__you__know .what__will__you__know__header h2 {
        font-size: 30px;
    }

    .what__will__you__know .content {
        grid-template-columns: repeat(1, 100%);
    }

    .what__will__you__know .content .content__block p {
        font-size: 16px;
    }
}
.who__can__learn {
    background-color: #e8f1f9;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 315px;
}

.who__can__learn:before {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: 0.3;
    bottom: -55px;
    left: -30px;
    background-size: cover;
    background-image: url('../img/header-ball.png');
}

.who__can__learn:after {
    content: '';
    position: absolute;
    width: 180px;
    height: 180px;
    filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    opacity: 0.3;
    top: 15px;
    right: -70px;
    background-size: cover;
    background-image: url('../img/header-ball.png');
}

.who__can__learn .who__can__lear__header {
    margin-bottom: 170px;
    text-align: center;
}

.who__can__learn .who__can__lear__header h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
    margin-bottom: 20px;
}

.who__can__learn .who__can__lear__header h2 span {
    color: #245ff7;
}

.who__can__learn .who__can__lear__header p {
    font-size: 24px;
    line-height: 130%;
    font-weight: normal;
}

.who__can__learn .content {
    display: flex;
    justify-content: space-between;
}

.who__can__learn .content__block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 30px;
    width: 410px;
    height: 195px;
    background: linear-gradient(102.62deg, #f8fcff 0%, #f1f9ff 100%);
    box-shadow: 0px 2px 20px rgba(15, 44, 72, 0.08);
}

.who__can__learn .content__block p {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    font-weight: normal;
}

.who__can__learn .content__block::after {
    position: absolute;
    content: '';
    width: 180px;
    height: 180px;
    bottom: 108px;
    left: 115px;
}

.who__can__learn .content__block:nth-child(1):after {
    background: url('../img/who-can-img1.png');
}

.who__can__learn .content__block:nth-child(2):after {
    background: url('../img/who-can-img2.png');
}

.who__can__learn .content__block:nth-child(3):after {
    background: url('../img/who-can-img3.png');
}

@media (max-width: 1800px) {
    .who__can__learn {
        padding: 0 150px;
    }
}

@media (max-width: 1560px) {
    .who__can__learn {
        padding: 0 100px;
    }
}

@media (max-width: 1460px) {
    .who__can__learn {
        padding: 0 50px;
    }
}

@media (max-width: 1360px) {
    .who__can__learn .content__block {
        width: 350px;
    }

    .who__can__learn .content__block:after {
        left: 95px;
        bottom: 135px;
    }
}

@media (max-width: 1360px) {
    .who__can__learn .content__block {
        width: 380px;
    }

    .who__can__learn .content__block:after {
        left: 70px;
        bottom: 135px;
    }
}

@media (max-width: 1250px) {
    .who__can__learn .content__block {
        width: 330px;
    }

    .who__can__learn .content__block:after {
        left: 80px;
        bottom: 135px;
    }
}

@media (max-width: 1100px) {
    .who__can__learn .content__block {
        width: 300px;
    }

    .who__can__learn .content__block:after {
        left: 80px;
        bottom: 135px;
    }
}

@media (max-width: 1000px) {
    .who__can__learn .content__block {
        width: 280px;
    }

    .who__can__learn .content__block:after {
        left: 80px;
        bottom: 135px;
    }
}

@media (max-width: 900px) {
    .who__can__learn .content {
        flex-direction: column;
    }

    .who__can__learn .content__block {
        width: 100%;
        margin-bottom: 50px;
    }

    .who__can__learn .content__block:after {
        left: 40%;
        bottom: 50px;
    }

    .who__can__learn .content__block:nth-child(1):after {
        background: url('../img/who-can-img1.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(2):after {
        background: url('../img/who-can-img2.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(3):after {
        background: url('../img/who-can-img3.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 550px) {
    .who__can__learn {
        padding: 0 20px;
    }

    .who__can__learn .content {
        flex-direction: column;
    }

    .who__can__learn .content__block {
        width: 100%;
        margin-bottom: 50px;
    }

    .who__can__learn .content__block:after {
        left: 40%;
        bottom: 50px;
    }

    .who__can__learn .content__block:nth-child(1):after {
        background: url('../img/who-can-img1.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(2):after {
        background: url('../img/who-can-img2.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(3):after {
        background: url('../img/who-can-img3.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 550px) {
    .who__can__learn .wrapper__section {
        padding: 70px 0;
    }

    .who__can__learn .who__can__lear__header {
        margin-bottom: 59px;
    }

    .who__can__learn .who__can__lear__header h2 {
        font-size: 30px;
    }

    .who__can__learn .who__can__lear__header p {
        font-size: 18px;
    }

    .who__can__learn .content__block {
        font-size: 16px;
    }

    .who__can__learn .content__block {
        width: 100%;
        margin-bottom: 50px;
    }

    .who__can__learn .content__block:after {
        left: 40%;
        bottom: 80px;
    }

    .who__can__learn .content__block:nth-child(1):after {
        background: url('../img/who-can-img1.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(2):after {
        background: url('../img/who-can-img2.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(3):after {
        background: url('../img/who-can-img3.png');
        background-size: 70%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 400px) {
    .who__can__learn .wrapper__section {
        padding: 70px 0;
    }

    .who__can__learn .who__can__lear__header {
        margin-bottom: 59px;
    }

    .who__can__learn .who__can__lear__header h2 {
        font-size: 30px;
    }

    .who__can__learn .who__can__lear__header p {
        font-size: 18px;
    }

    .who__can__learn .content__block {
        font-size: 16px;
    }

    .who__can__learn .content__block {
        width: 100%;
        margin-bottom: 50px;
    }

    .who__can__learn .content__block:after {
        left: 35%;
        bottom: 50px;
    }

    .who__can__learn .content__block:nth-child(1):after {
        background: url('../img/who-can-img1.png');
        background-size: 60%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(2):after {
        background: url('../img/who-can-img2.png');
        background-size: 60%;
        background-repeat: no-repeat;
    }

    .who__can__learn .content__block:nth-child(3):after {
        background: url('../img/who-can-img3.png');
        background-size: 60%;
        background-repeat: no-repeat;
    }
}
.why__bets {
    width: 100%;
    padding: 0 315px;
    max-width: 1920px;
    margin: 0 auto;
}

.why__bets__content {
    display: flex;
}

.why__bets__content .content__left {
    width: 520px;
    margin-right: 30px;
}

.why__bets__content .content__left h2 {
    font-size: 50px;
    line-height: 130%;
    font-weight: bold;
}

.why__bets__content .content__left h2 span {
    color: #245ff7;
}

.why__bets__content .content__right {
    width: 740px;
    font-size: 24px;
    font-weight: normal;
    line-height: 130%;
    color: #333333;
    padding-top: 10px;
}

.why__bets__content .content__right p {
    margin-bottom: 25px;
}

@media (max-width: 1550px) {
    .why__bets {
        padding: 0 200px;
    }
}

@media (max-width: 1150px) {
    .why__bets {
        padding: 0 100px;
    }
}

@media (max-width: 1000px) {
    .why__bets {
        padding: 0 100px;
    }

    .why__bets .wrapper__section {
        padding: 70px 0;
    }

    .why__bets .wrapper__section .why__bets__content {
        flex-direction: column;
    }

    .why__bets .wrapper__section .why__bets__content .content__left,
    .why__bets .wrapper__section .why__bets__content .content__right {
        width: 100%;
    }

    .why__bets .wrapper__section .why__bets__content h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .why__bets .wrapper__section .why__bets__content p {
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    .why__bets {
        padding: 0 20px;
    }

    .why__bets .wrapper__section {
        padding: 70px 0;
    }

    .why__bets .wrapper__section .why__bets__content {
        flex-direction: column;
    }

    .why__bets .wrapper__section .why__bets__content .content__left,
    .why__bets .wrapper__section .why__bets__content .content__right {
        width: 100%;
    }

    .why__bets .wrapper__section .why__bets__content h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .why__bets .wrapper__section .why__bets__content p {
        font-size: 18px;
    }
}
