@import '../variables.scss';

.header {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    max-height: 850px;
    padding: 60px 315px 0 315px;
    background: linear-gradient(
            98.72deg,
            #010733 0%,
            rgba(1, 7, 51, 0.8) 48.11%,
            rgba(1, 7, 51, 0) 76.65%
        ),
        url('header-bg.jpg');

    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        width: 180px;
        height: 180px;
        filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        -moz-filter: blur(10px);
        -webkit-filter: blur(10px);
        opacity: 0.7;
        top: 120px;
        left: -70px;
        background-size: cover;
        background-image: url('img/header-ball.png');
    }

    &__content {
        color: white;
        display: flex;
        justify-content: space-between;
        height: 100%;

        & .content__left {
            & .logo {
                display: flex;
                align-items: center;
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 180px;

                & img {
                    margin-right: 7px;
                }

                &__text {
                    & span {
                        color: $color-blue;
                    }
                }
            }

            & .description {
                & h1 {
                    font-size: 50px;
                    line-height: 130%;
                    font-weight: bold;
                    margin-bottom: 40px;
                }

                & p {
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 130%;
                    margin-bottom: 60px;
                    font-weight: 300;
                }

                & a {
                    background-color: $color-blue;
                    border-radius: 6px;
                    width: 260px;
                    padding: 20px 55px;
                    height: 59px;
                    color: $color-white;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        background-color: $hover-background;
                    }

                    &:active {
                        background-color: $press-background;
                    }
                }
            }
        }

        & .content__right {
            display: flex;
            align-items: flex-end;
        }
    }
}

@media (max-width: 1550px) {
    .header {
        padding: 60px 100px 0 100px;
    }
}

@media (max-width: 1150px) {
    .header {
        padding: 20px 30px 0 30px;

        &:before {
            z-index: 1;
        }

        h1 {
            position: relative;
            z-index: 2;
        }
    }
}

@media (max-width: 960px) {
    .header {
        .header__content {
            flex-direction: column;

            .content__left {
                .logo {
                    margin-bottom: 100px;
                }

                h1 {
                    font-size: 36px;
                }

                p {
                    font-size: 20px;
                }
            }

            .content__right {
                justify-content: center;
                align-items: flex-end;

                img {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        &:before {
            top: 330px;
            width: 70px;
            height: 70px;
            left: 0px;

            filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            -moz-filter: blur(5px);
            -webkit-filter: blur(5px);
        }
        .header__content {
            flex-direction: column;

            .content__left {
                .logo {
                    margin-bottom: 70px;
                }

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 18px;
                }

                a {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    display: block;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }

            .content__right {
                justify-content: center;
                align-items: flex-end;

                img {
                    width: 100%;
                }
            }
        }
    }
}
