@import '../variables.scss';

.learn__program{
  width: 100%;
  padding: 0 315px;
  max-width: 1920px;
  margin: 0 auto;

  & .learn__program__header{
    & h2 {
      font-size: 50px;
      line-height: 130%;
      font-weight: bold;
      margin-bottom: 80px;
      & span {
        color: $color-blue;
      }
    }
  }

  & .content {
    display: grid;
    grid-template-columns: 630px 630px;
    grid-template-rows: repeat(5,100px) ;
    //grid-column-gap: 30px;
    //grid-row-gap: 30px;
    grid-gap: 30px;
    box-sizing: border-box;

    align-items: center;

    & .item{
     
      position: static;
      left: 103px;
      top: 34.5px;
      padding: 23px 0;
      font-weight: 500;
      font-size: 24px;
      line-height: 130%;

      color: #FFFFFF;
      background: #245FF7;
      border-radius: 4px;

      & span.number{

        font-size: 40px;
        line-height: 130%;
        padding: 24px 30px;
        align-self: center;
      }
      & span.text{
       //padding-bottom: 10px;

      }
    }
    }



}