@import '../variables.scss';

.questions {
  width: 100%;
  padding: 0 315px;
  max-width: 1920px;
  margin: 0 auto;

  &__content {
    display: flex;

    .left {
      width: 520px;
      margin-right: 30px;

      h2 {
        font-size: 50px;
        line-height: 130%;
        font-weight: bold;
      }

      span {
        color: $color-blue;
      }
    }

    //left

    & .right {
      & .acor-container {
        margin: 20px 0;

        input:checked + label:before {
          transition: transform .15s;
          transform: rotate(45deg);
        }

        input:checked + label + .acor-body {
          height: auto;
          margin-top: -5px;
          color: #000;
          //padding: 20px 30px 10px;
        }

        & .acor-body {
          width: calc(100% - 40px);
          //margin: 0 auto;
          height: 0;
          color: rgba(0, 0, 0, 0);;
          line-height: 18px;
          //padding: 0 30px;
          box-sizing: border-box;
          transition: color 0.5s, padding 0.5s;
          overflow: hidden;
          font-size: 16px;
          //box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);

          & p {
            margin: 0 0 10px;
          }
        } //.acor-body

        label {
          cursor: pointer;
          display: block;
          //padding: 15px 20px;
          width: 100%;
          font-weight: 300;
          box-sizing: border-box;
          z-index: 100;
          font-size: 18px;
          margin: 0 0 5px;
          transition: color .35s;
        }

        label:before {
          content: '+';
          //content: '\276F';
          float: right;
        }

        input {
          display: none;
        }
      } //.acor-container
    } //.right
  } //__content
}

//.acor-container input:checked + label {
//}
