@import '../variables.scss';

.questions {
  width: 100%;
  padding: 0 315px;
  max-width: 1920px;
  margin: 0 auto;

  &__content {
    color: #333333;
    display: flex;

    .left {
      width: 630px;
      margin-right: 30px;

      h2 {
        font-size: 50px;
        line-height: 130%;
        font-weight: bold;
      }

      span {
        color: $color-blue;
      }
    }

    //right
    & .right {

      & .acor-container {
        margin: 0 0 20px 0;

        & .row__container {
          width: 630px;

          label {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            z-index: 10;
            transition: color .35s;
            height: 62px;

            span {
              top: calc(50% - 22px / 2);
              font-size: 18px;
              line-height: 120%;
            }
          }

          label:after {
            content: '\002B';
            float: right;
            color: $color-blue;

            font-size: 35px;
            font-weight: lighter;
          }

          input {
            display: none;
          }

          & input:checked + label:after {
            transition: transform .15s;
            transform: rotate(45deg);
          }

          input:checked + label + .acor-body {
            height: auto;
            margin-top: -5px;
            color: #333333;
          }

          & .acor-body {
            width: calc(100% - 40px);
            height: 0;
            color: rgba(0, 0, 0, 0);;
            line-height: 18px;
            box-sizing: border-box;
            transition: color 0.5s, padding 0.5s;
            overflow: hidden;
            font-size: 16px;

            & p {
              margin: 0 0 20px;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 120%;
            }
          }
        }
      }
    }
  }
}
