@import '../variables.scss';

.who__can__learn {
    background-color: $color-light-grey;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 315px;

    &:before {
        content: '';
        position: absolute;
        width: 180px;
        height: 180px;
        filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        -moz-filter: blur(5px);
        -webkit-filter: blur(5px);
        opacity: 0.3;
        bottom: -55px;
        left: -30px;
        background-size: cover;
        background-image: url('build/img/header-ball.png');
    }

    &:after {
        content: '';
        position: absolute;
        width: 180px;
        height: 180px;
        filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        -moz-filter: blur(5px);
        -webkit-filter: blur(5px);
        opacity: 0.3;
        top: 15px;
        right: -70px;
        background-size: cover;
        background-image: url('../../../img/header-ball.png');
    }

    & .who__can__lear__header {
        margin-bottom: 170px;
        text-align: center;
        h2 {
            font-size: 50px;
            line-height: 130%;
            font-weight: bold;
            margin-bottom: 20px;

            & span {
                color: $color-blue;
            }
        }

        p {
            font-size: 24px;
            line-height: 130%;
            font-weight: normal;
        }
    }

    & .content {
        display: flex;
        justify-content: space-between;

        &__block {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: flex-end;
            padding: 40px 30px;
            width: 410px;
            height: 195px;
            background: linear-gradient(102.62deg, #f8fcff 0%, #f1f9ff 100%);
            box-shadow: 0px 2px 20px rgba(15, 44, 72, 0.08);

            & p {
                text-align: center;
                font-size: 18px;
                line-height: 130%;
                font-weight: normal;
            }
        }

        &__block::after {
            position: absolute;
            content: '';
            width: 180px;
            height: 180px;
            bottom: 108px;
            left: 115px;
        }

        &__block:nth-child(1):after {
            background: url('../../../img/who-can-img1.png ');
        }
        &__block:nth-child(2):after {
            background: url('../../../img/who-can-img2.png ');
        }
        &__block:nth-child(3):after {
            background: url('../../../img/who-can-img3.png ');
        }
    }
}
