@import '../variables.scss';

.why__bets {
    width: 100%;
    padding: 0 315px;
    max-width: 1920px;
    margin: 0 auto;

    &__content {
        display: flex;
        & .content__left {
            width: 520px;
            margin-right: 30px;

            & h2 {
                font-size: 50px;
                line-height: 130%;
                font-weight: bold;

                & span {
                    color: $color-blue;
                }
            }
        }

        & .content__right {
            width: 740px;
            font-size: 24px;
            font-weight: normal;
            line-height: 130%;
            color: $color-black;
            padding-top: 10px;

            & p {
                margin-bottom: 25px;
            }
        }
    }
}
